<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true" version="3.0">

    <display-name>
        Jerry web application
    </display-name>

    <servlet>
        <servlet-name>jmvc</servlet-name>
        <servlet-class>com.jerry.mvcframework.servlet.JDispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>application.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jmvc</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>


</web-app>
